body {
  font-family: "Inter";
}

.touchAction {
  touch-action: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav" "header header sidebar" "content1 content2 sidebar" "content3 content4 content5";
  gap: 1.8rem;
  padding: 0px 5px 0px 5px;
}

/* start nav */

nav {
  /* background-color: lightblue; */

  grid-area: nav;
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav ul {
  background-color: hsl(36, 100%, 99%);
  height: 100vh;
  position: absolute;
  list-style-type: none;
  width: 75%;
  z-index: 99;
  margin: -50px 0 0 100px;
  padding: 50px;
  padding-top: 125px;
  transform-origin: 0% 0%;
  transform: translate(200%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#innerMenu {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul li {
  cursor: pointer;
}

.openMenu {
  transform: none;
}
.openOverlay {
  left: -455px !important;
}

nav img {
  margin-top: auto;
  margin-bottom: auto;
}

.menuToggle {
  width: 40px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}

#overlay {
  position: absolute;
  background-color: black;
  left: 0;
  margin-left: 34px;
  margin-top: -50px;
  opacity: 0.3;
  transform-origin: 0% 0%;
  transform: translate(80%, 0);
  /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); */
  width: 120%;
  height: 100vh;
  z-index: 99;
}

/* end nav */

/* start header */

header {
  background-color: lightslategrey;
  grid-area: header;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

header img {
  width: 100%;
}

#sidebar {
  background-color: lightblue;
  grid-area: sidebar;
}

#content1 {
  /* background-color: lightgreen; */
  grid-area: content1;
  overflow: hidden;
  display: flex;
}

#content1 h1 {
  font-weight: 800;
  height: 100%;
  /* background-color: blue; */
  width: 250px;
  margin: 0;
  font-size: 35px;
}
#content2 {
  /* background-color: lightpink; */
  grid-area: content2;
}

#conten2 p {
  margin: 0;
}

#content2 button {
  background-color: hsl(5, 85%, 63%);
  border: none;
  font-weight: bold;
  color: white;
  width: 35%;
  height: 50px;
}

#content3 {
  background-color: lightsalmon;
  grid-area: content3;
}
#content4 {
  background-color: yellow;
  grid-area: content4;
}
#content5 {
  background-color: purple;
  grid-area: content5;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 80px 350px 120px 170px 450px 175px 175px 175px;
    /* grid-template-rows: auto auto auto auto auto auto auto auto; */
    height: 100%;

    grid-template-areas: "nav" "header" "content1" "content2" "sidebar" "content3" "content4" "content5";
  }
}
